<a href="https://colab.research.google.com/github/vibhakarnail/upgraded-analyst/blob/master/RedCarpetUp_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
!pip install nsepy

Requirement already satisfied: nsepy in /usr/local/lib/python3.6/dist-packages (0.7)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from nsepy) (2.18.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from nsepy) (7.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from nsepy) (0.23.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.16.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.11.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2019.3.9)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2.5.3)

In [0]:
#Source OCLHV data for NSE stocks (INFY,TCS) between 2015-2016
from datetime import date
from nsepy import get_history
infosys = get_history(symbol="INFY", 
                    start=date(2015,1,1), 
                    end=date(2015,1,10))
from datetime import date
from nsepy import get_history
tcs = get_history(symbol='TCS',
                   start=date(2015,1,1),
                   end=date(2016,1,1))
#Source OCLHV data for NIFTY IT index
from datetime import date
from nsepy import get_history
nifty= get_history(symbol='NIFTYIT',
                   start=date(2015,1,1),
                   end=date(2016,1,1))




  a=infosys.shape[0]
  print(a)
  infosys.head(1)
  d=infosys.iloc[:0, :1]
  infosys.iloc[:0, :1]
  print(d)
  a=infosys.shape[1]
  print(a)
  infosys.head()
  tcs.head()
  i1=1
  j1=1
yeardays=[31,28,31,30,31,30,31,31,30,31,30,31]


2015-i1-j1
2015-i2-j2
select Close from tcs where Date="2015-01-01"
tcs.loc[infosys['Date'] =="2015-01-01", 'Close']
df=tcs.toDF
x="2015-01-01"
infosys[infosys['*Date*']=="2015-01-01"]['Close'].values
data['Close']=tcs.where(data['education'] =='basic.9y', 'Basic', data['education'])
CloseData.append()
infosys.head()

In [0]:
  tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883
2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683
2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207
2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894
2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724

In [0]:
  tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883
2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683
2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207
2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894
2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724

In [33]:
df=pd.DataFrame(infosys)
df

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,INFY,EQ,1972.55,1968.95,1982.00,1956.90,1971.00,1974.40,1971.34,500691,9.870306e+13,14908,258080,0.5154
2015-01-02,INFY,EQ,1974.40,1972.00,2019.05,1972.00,2017.95,2013.20,2003.25,1694580,3.394669e+14,54166,1249104,0.7371
2015-01-05,INFY,EQ,2013.20,2009.90,2030.00,1977.50,1996.00,1995.90,2004.59,2484256,4.979911e+14,82694,1830962,0.7370
2015-01-06,INFY,EQ,1995.90,1980.00,1985.00,1934.10,1965.10,1954.20,1954.82,2416829,4.724458e+14,108209,1772070,0.7332
2015-01-07,INFY,EQ,1954.20,1965.00,1974.75,1950.00,1966.05,1963.55,1962.59,1812479,3.557162e+14,62463,1317720,0.7270
2015-01-08,INFY,EQ,1963.55,1985.60,1997.00,1950.00,1979.25,1973.45,1972.78,3391230,6.690160e+14,92752,2686012,0.7920
2015-01-09,INFY,EQ,1973.45,1980.10,2109.00,1913.05,2075.30,2074.45,2037.69,11215832,2.285439e+15,359214,3369489,0.3004

In [34]:
Date=infosys.iloc[:250,:0]
Date

Empty DataFrame
Columns: []
Index: [2015-01-01, 2015-01-02, 2015-01-05, 2015-01-06, 2015-01-07, 2015-01-08, 2015-01-09]

In [36]:
Date[1]

KeyError: ignored