<a href="https://colab.research.google.com/github/vibhakarnail/upgraded-analyst/blob/master/RedCarpetUp_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
!pip install nsepy

Requirement already satisfied: nsepy in /usr/local/lib/python3.6/dist-packages (0.7)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from nsepy) (2.18.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.16.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from nsepy) (0.23.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from nsepy) (7.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.11.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2019.3.9)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2.5.3)

In [79]:
#Source OCLHV data for NSE stocks (INFY,TCS) between 2015-2016
from datetime import date
from nsepy import get_history
infosys = get_history(symbol="INFY", 
                    start=date(2015,1,1), 
                    end=date(2015,1,10))
from datetime import date
from nsepy import get_history
tcs = get_history(symbol='TCS',
                   start=date(2015,1,1),
                   end=date(2016,1,1))
#Source OCLHV data for NIFTY IT index
from datetime import date
from nsepy import get_history
nifty= get_history(symbol='NIFTYIT',
                   start=date(2015,1,1),
                   end=date(2016,1,1))

prices = get_price_list(dt=date(2015,1,1))


  a=infosys.shape[1]
  print(a)
  infosys.head(1)
  d=infosys.iloc[:0, :1]
  infosys.iloc[:0, :1]
  print(d)
  a=infosys.shape[1]
  print(a)
  infosys.head()
  tcs.head()
  i1=1
  j1=1
yeardays=[31,28,31,30,31,30,31,31,30,31,30,31]


2015-i1-j1
2015-i2-j2
select Close from tcs where Date="2015-01-01"
tcs.loc[infosys['Date'] =="2015-01-01", 'Close']
df=tcs.toDF
x="2015-01-01"
infosys[infosys['date']==date(2015-01-01)]['Close'].values
data['Close']=tcs.where(data['education'] =='basic.9y', 'Basic', data['education'])
CloseData.append()
infosys.head()
df.index[df['2015-01-01']].tolist()

SyntaxError: ignored

In [0]:
  tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883
2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683
2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207
2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894
2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724

In [0]:
  tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883
2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683
2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207
2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894
2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724

In [0]:
df=pd.DataFrame(infosys)
df

In [53]:
Date=infosys.iloc[:250,:0]
print(Date.to_string())
print(df.take[0])
df[df.columns[1]]

Date
2015-01-01    EQ
2015-01-02    EQ
2015-01-05    EQ
2015-01-06    EQ
2015-01-07    EQ
2015-01-08    EQ
2015-01-09    EQ
Name: Series, dtype: object

In [36]:
Date[1]

KeyError: ignored