<a href="https://colab.research.google.com/github/vibhakarnail/upgraded-analyst/blob/master/RedCarpetUp_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
!pip install nsepy

Collecting nsepy
  Downloading https://files.pythonhosted.org/packages/23/c2/0d19d7ddb36638568ad4a83ab80b492eccc540ef7b7fa9df9a26536b16a1/nsepy-0.7.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from nsepy) (2.18.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.16.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from nsepy) (0.23.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.11.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from nsepy) (7.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2019.3.9)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2.5.3)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/88/89/1e/3dfa14f863314a42481d8926d9ef4825da5d899e026435fc3a
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.7

In [18]:
#Source OCLHV data for NSE stocks (INFY,TCS) between 2015-2016
from datetime import date
from nsepy import get_history
infosys = get_history(symbol="INFY", 
                    start=date(2015,1,1), 
                    end=date(2016,1,1))
from datetime import date
from nsepy import get_history
tcs = get_history(symbol='TCS',
                   start=date(2015,1,1),
                   end=date(2016,1,1))
#Source OCLHV data for NIFTY IT index
from datetime import date
from nsepy import get_history
nifty= get_history(symbol='NIFTYIT',
                   start=date(2015,1,1),
                   end=date(2016,1,1))


df=pd.DataFrame(infosys)
indexes=df.index.tolist()
df['Date1'] = indexes


###############################################
l=[]


def cal(m,d,ts):
  timeseries=(ts*7)+1
  calc(m,d,timeseries)

################################################

def calc(m,d,ts):
  m=m
  ts=ts
  d=d
  dateLast=d
  yeardays=[31,28,31,30,31,30,31,31,30,31,30,31]
  dateLast=365-ts
  
  for i in range(0,12):
    dateLast-=yeardays[i]
    if ( dateLast <= 0 ):
      break
  y=i+1
  if ( dateLast == 0 ):
    x=1
  else:  
    x=dateLast+yeardays[i]+1
    print("day ", x)
    print("month ", y)
  calcMA(m,d,ts,x,y)   
  
############################################### 
  
def calcMA(m,d,ts,x,y):
  x=x
  y=y
  window=ts
  day1=d
  month1=m
  day=d
  month=m
  sum=0
  yeardays=[31,28,31,30,31,30,31,31,30,31,30,31]
  counter=0
  if ( month < 13 ):
    
   for ran in range(1,window):
     if ( day > yeardays[month-1] ):
        day=1
        month+=1
     if ( month > 12 ):
        break
     else:  
        a=df.loc[df['Date1']==date(2015,month,day), 'Close']
#        print(a)
        try:
         b=a[0]
        except:
         b=0
#        print(b)
        if ( b == 0 ):
#           print ("no value")
           day+=1
        else:
           counter+=1
           sum+=b
           day+=1  
     
  day1+=1 
  if ( counter!= 0 ):
     l.append(sum/counter)
  print("*****************")
  print(day1)
  print(month1)
  yeardays=[31,28,31,30,31,30,31,31,30,31,30,31]
  if ( day1 > yeardays[month1-1] ):
      day1=1
      month1+=1
  else:
      print(x)
      print(y)
  if ( day1 == x ):
      if ( month1 == y ): 
          print("done")
      else:  
          calcMA(month1,day1,window,x,y)
  else:  
      calcMA(month1,day1,window,x,y)
      
########################################
l=[]
cal(1,1,4)
print(len(l))

336

In [0]:
  tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883
2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683
2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207
2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894
2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724

In [0]:
  tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883
2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683
2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207
2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894
2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724

In [0]:
df=pd.DataFrame(infosys)
df

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,INFY,EQ,1972.55,1968.95,1982.00,1956.90,1971.00,1974.40,1971.34,500691,9.870306e+13,14908,258080,0.5154
2015-01-02,INFY,EQ,1974.40,1972.00,2019.05,1972.00,2017.95,2013.20,2003.25,1694580,3.394669e+14,54166,1249104,0.7371
2015-01-05,INFY,EQ,2013.20,2009.90,2030.00,1977.50,1996.00,1995.90,2004.59,2484256,4.979911e+14,82694,1830962,0.7370
2015-01-06,INFY,EQ,1995.90,1980.00,1985.00,1934.10,1965.10,1954.20,1954.82,2416829,4.724458e+14,108209,1772070,0.7332
2015-01-07,INFY,EQ,1954.20,1965.00,1974.75,1950.00,1966.05,1963.55,1962.59,1812479,3.557162e+14,62463,1317720,0.7270
2015-01-08,INFY,EQ,1963.55,1985.60,1997.00,1950.00,1979.25,1973.45,1972.78,3391230,6.690160e+14,92752,2686012,0.7920
2015-01-09,INFY,EQ,1973.45,1980.10,2109.00,1913.05,2075.30,2074.45,2037.69,11215832,2.285439e+15,359214,3369489,0.3004
2015-01-12,INFY,EQ,2074.45,2092.00,2119.20,2075.00,2112.95,2115.95,2099.40,3189722,6.696516e+14,107209,1818800,0.5702
2015-01-13,INFY,EQ,2115.95,2107.80,2107.80,2075.00,2092.00,2088.90,2089.42,2200309,4.597374e+14,66676,1385009,0.6295
2015-01-14,INFY,EQ,2088.90,2098.50,2133.00,2092.60,2129.00,2128.65,2110.88,2480315,5.235638e+14,53263,1832958,0.7390
2015-01-15,INFY,EQ,2128.65,2135.20,2152.80,2112.25,2130.00,2134.25,2137.46,2085613,4.457911e+14,48882,1410992,0.6765
2015-01-16,INFY,EQ,2134.25,2148.00,2160.00,2112.00,2115.00,2118.30,2125.77,1672740,3.555858e+14,63848,1254004,0.7497
2015-01-19,INFY,EQ,2118.30,2120.00,2132.35,2094.60,2105.00,2102.50,2104.55,1021936,2.150713e+14,62963,673948,0.6595
2015-01-20,INFY,EQ,2102.50,2107.00,2133.00,2101.45,2119.20,2124.20,2118.16,1701126,3.603258e+14,66871,1284137,0.7549
2015-01-21,INFY,EQ,2124.20,2131.50,2175.95,2118.00,2172.00,2169.90,2148.41,2123727,4.562628e+14,82679,1394125,0.6565
2015-01-22,INFY,EQ,2169.90,2174.80,2203.00,2161.30,2194.95,2196.45,2193.10,2489599,5.459951e+14,82961,1879561,0.7550
2015-01-23,INFY,EQ,2196.45,2200.00,2225.00,2165.10,2211.90,2215.05,2194.58,2371582,5.204624e+14,78929,1622130,0.6840
2015-01-27,INFY,EQ,2215.05,2221.00,2221.00,2130.10,2137.55,2136.50,2146.45,3434992,7.373022e+14,117167,2765575,0.8051
2015-01-28,INFY,EQ,2136.50,2150.00,2154.80,2130.30,2144.45,2144.55,2144.31,3283589,7.041041e+14,99134,2313485,0.7046
2015-01-29,INFY,EQ,2144.55,2145.00,2149.90,2127.60,2147.80,2145.50,2141.67,3842356,8.229076e+14,79209,2797911,0.7282
2015-01-30,INFY,EQ,2145.50,2161.50,2162.55,2126.95,2141.85,2141.90,2144.44,2708436,5.808066e+14,99180,2093132,0.7728
2015-02-02,INFY,EQ,2141.90,2141.50,2152.00,2126.05,2137.00,2136.85,2142.80,2175635,4.661958e+14,47871,1641719,0.7546
2015-02-03,INFY,EQ,2136.85,2136.85,2139.95,2102.00,2124.00,2120.90,2117.92,1316489,2.788217e+14,64490,821456,0.6240
2015-02-04,INFY,EQ,2120.90,2139.90,2150.00,2126.40,2143.80,2142.85,2142.92,1290004,2.764378e+14,49317,889211,0.6893
2015-02-05,INFY,EQ,2142.85,2150.80,2220.00,2148.00,2186.00,2193.80,2189.61,2968984,6.500912e+14,112707,2025011,0.6821
2015-02-06,INFY,EQ,2193.80,2205.00,2247.80,2188.50,2228.00,2230.50,2229.51,1863432,4.154534e+14,79072,1073921,0.5763
2015-02-09,INFY,EQ,2230.50,2200.00,2254.00,2200.00,2245.00,2248.90,2238.75,1634217,3.658597e+14,96994,1074815,0.6577
2015-02-10,INFY,EQ,2248.90,2243.00,2298.00,2241.00,2268.00,2278.30,2270.89,2129230,4.835242e+14,84805,1385146,0.6505
2015-02-11,INFY,EQ,2278.30,2280.50,2293.20,2256.25,2287.80,2284.85,2279.82,1449243,3.304009e+14,58510,962023,0.6638
2015-02-12,INFY,EQ,2284.85,2283.00,2321.95,2273.00,2309.90,2311.20,2301.63,1571884,3.617897e+14,66827,995751,0.6335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-11-19,INFY,EQ,1020.00,1030.25,1052.00,1023.80,1048.00,1047.80,1038.56,4269811,4.434439e+14,169433,2638720,0.6180
2015-11-20,INFY,EQ,1047.80,1048.00,1063.20,1042.05,1051.00,1052.40,1053.83,3041489,3.205220e+14,151348,1851747,0.6088
2015-11-23,INFY,EQ,1052.40,1050.00,1062.40,1038.00,1052.00,1053.70,1053.76,2808175,2.959156e+14,90521,1799534,0.6408
2015-11-24,INFY,EQ,1053.70,1050.00,1050.80,1037.00,1040.70,1041.15,1043.40,2162901,2.256779e+14,58310,1249010,0.5775
2015-11-26,INFY,EQ,1041.15,1040.95,1059.50,1040.05,1050.00,1052.40,1051.79,4926984,5.182137e+14,114757,3656974,0.7422
2015-11-27,INFY,EQ,1052.40,1058.00,1070.00,1045.00,1066.00,1066.35,1060.99,2571239,2.728063e+14,69214,1799884,0.7000
2015-11-30,INFY,EQ,1066.35,1070.00,1098.30,1056.20,1083.05,1087.90,1083.44,9052767,9.808155e+14,108763,5565189,0.6148
2015-12-01,INFY,EQ,1087.90,1088.00,1095.00,1072.95,1075.45,1079.00,1082.42,2949275,3.192357e+14,76585,1982960,0.6724
2015-12-02,INFY,EQ,1079.00,1079.95,1079.95,1059.00,1061.10,1060.70,1064.12,3198808,3.403929e+14,90123,2139233,0.6688
2015-12-03,INFY,EQ,1060.70,1061.00,1064.80,1049.05,1059.00,1057.75,1056.77,2752363,2.908624e+14,110543,1838358,0.6679
2015-12-04,INFY,EQ,1057.75,1049.00,1064.90,1040.10,1048.85,1049.05,1047.32,4187765,4.385928e+14,209805,3031773,0.7240
2015-12-07,INFY,EQ,1049.05,1055.30,1059.00,1040.00,1046.00,1046.25,1048.08,2256935,2.365448e+14,65005,1441112,0.6385
2015-12-08,INFY,EQ,1046.25,1045.05,1062.75,1039.30,1042.00,1044.40,1051.88,2862186,3.010684e+14,87394,1790175,0.6255
2015-12-09,INFY,EQ,1044.40,1043.00,1046.95,1022.55,1024.00,1028.20,1036.19,3409127,3.532487e+14,85433,2068578,0.6068
2015-12-10,INFY,EQ,1028.20,1036.60,1051.60,1030.30,1049.90,1047.35,1040.47,2793873,2.906945e+14,80028,1838589,0.6581
2015-12-11,INFY,EQ,1047.35,1054.00,1061.90,1045.90,1055.65,1052.80,1052.88,2695099,2.837607e+14,84930,1623053,0.6022
2015-12-14,INFY,EQ,1052.80,1049.50,1073.15,1048.05,1067.50,1069.50,1066.30,2408336,2.568018e+14,104978,1419333,0.5893
2015-12-15,INFY,EQ,1069.50,1073.25,1079.10,1058.80,1078.50,1077.55,1071.44,2715904,2.909926e+14,76821,1951187,0.7184
2015-12-16,INFY,EQ,1077.55,1083.40,1098.00,1083.40,1094.00,1095.85,1092.86,2747926,3.003094e+14,66894,1988090,0.7235
2015-12-17,INFY,EQ,1095.85,1100.00,1109.80,1088.00,1105.50,1107.10,1099.83,2479391,2.726907e+14,87599,1294917,0.5223
2015-12-18,INFY,EQ,1107.10,1103.40,1103.40,1079.45,1085.95,1083.15,1086.91,3609910,3.923651e+14,65866,2604590,0.7215
2015-12-21,INFY,EQ,1083.15,1077.00,1107.40,1065.95,1107.00,1103.45,1095.68,2165506,2.372707e+14,61692,1223571,0.5650
2015-12-22,INFY,EQ,1103.45,1097.45,1097.45,1080.10,1085.00,1083.75,1085.81,2054627,2.230939e+14,51963,1204818,0.5864
2015-12-23,INFY,EQ,1083.75,1095.05,1102.50,1087.05,1100.00,1100.85,1097.35,1435464,1.575200e+14,38571,861318,0.6000
2015-12-24,INFY,EQ,1100.85,1102.05,1104.45,1090.10,1095.80,1096.35,1095.84,615027,6.739696e+13,20528,294731,0.4792
2015-12-28,INFY,EQ,1096.35,1090.00,1110.00,1090.00,1103.80,1104.75,1105.51,2763476,3.055046e+14,51103,1880078,0.6803
2015-12-29,INFY,EQ,1104.75,1101.25,1110.00,1097.30,1103.00,1104.70,1104.14,1672531,1.846706e+14,52409,967577,0.5785
2015-12-30,INFY,EQ,1104.70,1101.10,1106.60,1083.00,1088.00,1086.30,1094.45,2576985,2.820380e+14,65379,1754378,0.6808
2015-12-31,INFY,EQ,1086.30,1090.15,1109.95,1087.00,1107.00,1105.40,1102.09,3971969,4.377467e+14,75143,2641827,0.6651
2016-01-01,INFY,EQ,1105.40,1100.00,1108.95,1093.20,1103.00,1105.25,1103.13,903275,9.964333e+13,18982,331554,0.3671

Date
2015-01-01    EQ
2015-01-02    EQ
2015-01-05    EQ
2015-01-06    EQ
2015-01-07    EQ
2015-01-08    EQ
2015-01-09    EQ
Name: Series, dtype: object

In [0]:
Date[1]

KeyError: ignored